body{
    background: rgb(184, 150, 99)
}
h1{
    font-size: 60px;
    color: rgb(45, 5, 82);
    text-align: center;
}
p{
    font-size: 30px;
    color: rgb(210,190, 14);

}
.lista_cabecalho{
    display: flex;
    margin-left: 200px;
}

.item_lista_cabecalho{
    color: red;
    list-style: none;
    text-transform: uppercase;
    font-size: 40px;
    padding: 15px;
  }